.library
  display: flex
  height: calc(100vh - 80px)
  &__list
    &-wrapper
      width: calc(100% - 400px)

  &__filters
    &-wrapper
      width: 400px
      height: 100%
      background-color: #21242c
    &-header
      color: #ffa7c4
      font-family: Montserrat, sans-serif
      font-size: 26px
      text-align: center
      padding: 20px 0
      text-transform: uppercase
      font-weight: 900
